
.home_content {
  padding: 0 8rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30rem;
  margin: 3rem auto;
}

input {
  display: block;
  margin-top: 0.75rem;
  border: none;
  padding: 0.5rem ;
  width: 100%;
  border-radius: 0.5rem;
  outline: none;

}

input:focus {
  box-shadow: 0 0 8px #a27de5 , 0 0 4px #a27de5  ;
}


label {
  color: #cdc4ff;
  font-weight: 700;
  letter-spacing: .75px;
  font-size: 1.25rem;
}

button {
  width: 10rem;
  align-self: center;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.25rem ;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  background-color: #a29ff9;
  font-family: 'Source Code Pro', monospace;
  transition: background 0.5s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color:#2f2f56 ;
  box-shadow: 0 0 8px #cdd7ed , 0 0 4px #a27de5  ;
}

@media screen and (max-width: 768px) {
  form {
    width: 80%;
  }
}