.panel_information {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 0 2rem;
}

.panel_information > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.panel_information h3 {
  text-align: center;
}

.data_container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.data_container > div {
  margin-bottom: 0.5rem;
}

.link_container {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 875px) {
  .panel_information {
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
  }
  .panel_information > div {
    align-items: center;
  }
}
