@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Source Code Pro', monospace;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 50vh;
}

.editorElement {
  height: 100%;
  width: 100%;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.Layout {
  background-color: rgb(39, 39, 42);
  height: 100vh;
  color:  #f3eae8;
  padding-top: 4rem;
}