@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Source Code Pro', monospace;
}

.container {
  height: 100vh;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 50vh;
}

.editorElement {
  height: 100%;
  width: 100%;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.Layout {
  background-color: rgb(39, 39, 42);
  min-height: 100vh;
  color: #f3eae8;
  padding-top: 4rem;
}

.link {
  color: #a27de5;
  text-decoration: none;
}

.errorMessage {
  color: #fffbf4;
  background-color: #931900;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  vertical-align: middle;
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
  gap: 1rem;
}

.button {
  color: #cdd7ed;
  text-decoration: none;
  background-color: #18203e;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background 0.5s ease-in-out;
  font-family: 'Source Code Pro', monospace;
}

.sm {
  padding: 0.5rem 0.5rem;
  width: fit-content;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  font-size: 1rem;
  font-weight: 600;
}

.button:hover {
  background-color: #6c55b6;
  box-shadow: 0 0 8px #cdd7ed, 0 0 4px #a27de5;
}


.home_content {
  padding: 0 8rem;
  padding-bottom: 2rem;
}

.home_content >h3 {
  margin-bottom: 1rem;
}

.home_content h4 {
  margin-block: 1rem;
}
.video_container {
  width: 800px;
  margin: 0 auto;
  padding: 0;
  margin-block: 2rem ;
}

video {
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30rem;
  margin: 3rem auto;
}

.min_form {
  width: 15rem;
  gap: 1rem;
  margin: 0;
}

.min_form input {
  margin: 0;
}

input {
  display: block;
  margin-top: 0.75rem;
  border: none;
  padding: 0.5rem ;
  width: 100%;
  border-radius: 0.5rem;
  outline: none;

}

input:focus {
  box-shadow: 0 0 8px #a27de5 , 0 0 4px #a27de5  ;
}


label {
  color: #cdc4ff;
  font-weight: 700;
  letter-spacing: .75px;
  font-size: 1.25rem;
}

button {
  width: 10rem;
  align-self: center;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.25rem ;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  background-color: #a29ff9;
  font-family: 'Source Code Pro', monospace;
  transition: background 0.5s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color:#2f2f56 ;
  box-shadow: 0 0 8px #cdd7ed , 0 0 4px #a27de5  ;
}

@media screen and (max-width: 768px) {
  form {
    width: 80%;
  }
}