@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Source Code Pro', monospace;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 50vh;
}

.editorElement {
  height: 100%;
  width: 100%;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.Layout {
  background-color: rgb(39, 39, 42);
  height: 100vh;
  color:  #f3eae8;
  padding-top: 4rem;
}

.errorMessage {
  color: #fffbf4;
  background-color: #931900;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  vertical-align: middle;
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
  gap: 1rem;
}

.button {
  color: #cdd7ed;
  text-decoration: none;
  background-color: #18203e;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background 0.5s ease-in-out;
  font-family: 'Source Code Pro', monospace;

}

.sm {
  padding: 0.5rem 0.5rem;
  width: fit-content;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  font-size: 1rem;
  font-weight: 600;
}

.button:hover {
  background-color: #6c55b6;
  box-shadow: 0 0 8px #cdd7ed, 0 0 4px #a27de5 ;
}